<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.1" />
    </startup>

  <!--
  <connectionStrings>
    <add name="sqlconex" connectionString="server=.;Integrated Security=yes;Database=focusedBible"/>
    <add name="Conectar" connectionString="Data Source=(LocalDB)\MSSQLLocalDB;AttachDbFilename=&quot;E:\Documents\GitHub\focusedBible_Questions - FinalProject\capaDatos\BDUsuario.mdf&quot;;Integrated Security=True;Connect Timeout=30"
      providerName="System.Data.SqlClient" />
  </connectionStrings>
   -->
 
  <connectionStrings>
   <add name="sqlconex" connectionString="Data Source=DESKTOP-BFAKKDT,1433; Initial Catalog=focusedBible; Network Library=DBMSSOCN; User ID=sa; Password=123456789; MultipleActiveResultSets=true;" />
    <add name="Conectar" connectionString="Data Source=(LocalDB)\MSSQLLocalDB;AttachDbFilename=&quot;C:\focusedBible_Questions - FinalProject\capaDatos\BDUsuario.mdf&quot;;Integrated Security=True;Connect Timeout=30;"
      providerName="System.Data.SqlClient" />
  </connectionStrings>
 


</configuration>